$corporate_color: #ea4c89;
$grey: #9e9ea7;
$transition: 0.3s ease;
$light_grey: rgb(231, 231, 231);

.introduction {
    max-width: 1080px;
    width:85%;
    margin: 0 auto;

    .intro_heading {
        margin-top: 3rem;
        margin-bottom: 4rem;
        h1 {
            margin: 0px;
            max-width: 25ch;
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 2rem;

            @media screen and (max-width: 600px){
                font-size: 2rem;
                line-height: 3rem;         
            }
        }
        p {
            margin: 0px;
            max-width: 40ch;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    @media screen {max-width: 900px;
        .intro_content{
            img{
            width: 100%;
            margin: 0 auto;
         }
        }        
    }

    .intro_content {
        
   
        .girl_image {           
            position: relative;
                img {
                    max-width:90%;
                    height: auto;
                      
                    @media screen and (max-width: 900px){
                        max-width:100%;
                      }
                }
            
            .pink_spot_image {
                position: absolute;
                top: 6rem;
                height: auto;
                left: -6rem;
                z-index: 2;
                width: 25%;
                img {
                    @media screen and (max-width: 900px){
                        display: none;
                    }
                }
            }
            .box_text {
                position: absolute;
                bottom: -6rem;
                right: 0rem;
                background-color: black;
                color: white;
                width: 480px;
                padding: 2rem;

                @media screen and (max-width: 900px){
                  position: static;
                  width: auto;
                }

                .box_title {
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                   
                }

                p {
                    line-height: 1.5rem;
                }
            }
            .hand_image {
                @media screen and (max-width: 900px){
                    display: none;
                  }
                img {
                    position: absolute;
                    top: 40%;
                    width: 10%;
                    right: 2rem;
                    z-index: 3;
                }
            }
            

        }
    }
    .intro_footer {
        margin-top: 12rem;
        @media screen and (max-width: 900px){
            margin-top: 4rem;
          }

        .intro_footer_title {
            margin: 0 auto 2.5rem;
            font-weight: bold;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
        }
        .intro_footer_content {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            @media screen and (max-width: 600px) {                            
                flex-wrap: wrap                   
            }
           .radio_names{ 
            a {
                color: $grey;
                font-weight: bold;
                
                @media screen and (max-width: 600px) {                            
                   display: none;                   
                }

                &:hover {
                    color: inherit;
                }
            }
            }

            a{
                img{}
            }
        }
    }
    .intro_footer_extra_info {
        margin-top: 2rem;
        margin-bottom: 12rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        
        @media screen and (max-width: 900px) {                            
            flex-wrap: wrap;
            margin-bottom: 4rem;                
        }

        .extra_info_items {
            display: flex;
            gap: 1rem;

            @media screen and (max-width: 600px) {                            
                flex-wrap: wrap;
                justify-content: center;     
                     
            }

            a {
                color: inherit;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
